@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap');
@import url(./Reset.css);

.App {
  font-family: 'Bacasime Antique', serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #040C18;
}

.navbar {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}

.navlinks {
  display: flex;
  gap: 60px;
  align-items: center;
  padding-left: 150px;
}

.gpt3logo {
  font-size: 18 px;
  font-weight:700 ;
}

.links {
  display: flex;
  gap: 50px;
}

.links a {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
align-items: center;
gap: 20px;
padding-right: 150px;
}

.buttons .nobgbutton {
text-decoration: none;
color: white;
}


.propbutton {
  font-size: 17px;
padding: 15px 35px;
background-color: #FF4820;
border-radius: 5px;
cursor: pointer;
}

.formbutton {
  font-size: 20px;
font-weight: 700;
padding:29px 26px 26px 30px;
}

.introduction {
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introtext > h1 {
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 61px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: -2px;
}

.introtext > p {
  color: #81AFDD;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
}

.inputpart  .inputtext {
  width: 440px;
  height: 73px;
font-size: 30px;
padding-left: 16px;
border-radius: 5px 0px 0px 5px;
background: #052D56;
border: none;
}

::placeholder{
  color: hsla(210, 36%, 38%, 1);
  opacity: 1;
}

.profiles {
  display: flex;
  color: white;
  gap: 20px;
  padding-top: 5px;
  align-items: center;
}

.companies {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 110px;
padding-bottom: 120px;
}

.companies img {
  min-width: 110px;
}

.information {
  background-color: #052c55;
  margin: 0 130px;
}

.header{
display: flex;
align-items: center;
justify-content: center;
justify-content: space-between;
}

.line {
  width: 38px;
height: 3px;
background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
}

.header{
  padding-right: 70px;
}

.miniheader{
  padding-left: 60px;
  padding-top: 60px;
}

.miniheader h2 , .linebros {
  color: white;
  font-size: 24px;
  font-weight: 800;
  padding-top: 20px;
}


.header p {
  padding-top: 70px;
  color: #81AFDD;
  line-height: 30px;
  font-weight: 500;
}

.informationmiddle {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-right: 70px;
  padding-left: 60px;
}

.informationmiddle h3 {
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
font-weight: 800;
line-height: 45px;
}

.informationmiddle h6{
  color: #FF8A71;
  font-weight: 500;
  font-size: 16px;

}


.informationbottom{
padding-top: 90px;
display: flex;
justify-content: space-between;
padding-right: 70px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.blocks p {
  color:#81AFDD ;
  padding-top: 40px;
  line-height: 25px;
}

.middlepart {
  padding-top:200px ;
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  justify-content: space-between;
}

.middlepart h5 {
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  padding-bottom: 34px;
}

.middlepart span {
  color: #FF8A71;
  font-weight: 500;
}

.middleblock {
  display: flex;
}

.middleblock .header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h4 {
  font-size: 18px !important;
  font-weight: 800;
  color: #FFF;
  padding-top: 12px;
  line-height: 24px;
}

.middleright {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.middleblock p {
  color: #81AFDD;
  line-height: 24px;
}