@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap');
@import url(./Reset.css);

.App {
  font-family: 'Bacasime Antique', serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #040C18;
}

.navbar {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}

.navlinks {
  display: flex;
  gap: 60px;
  align-items: center;
  padding-left: 150px;
}

.gpt3logo {
  font-size: 18 px;
  font-weight:700 ;
}

.links {
  display: flex;
  gap: 50px;
}

.links a {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
align-items: center;
gap: 20px;
padding-right: 150px;
}

.buttons .nobgbutton {
text-decoration: none;
color: white;
}


.propbutton {
  font-size: 17px;
padding: 15px 35px;
background-color: #FF4820;
border-radius: 5px;
cursor: pointer;
}

.formbutton {
  font-size: 20px;
font-weight: 700;
padding:29px 26px 26px 30px;
}

.introduction {
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introtext > h1 {
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 61px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: -2px;
}

.introtext > p {
  color: #81AFDD;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
}

.inputpart  .inputtext {
  width: 440px;
  height: 73px;
font-size: 30px;
padding-left: 16px;
border-radius: 5px 0px 0px 5px;
background: #052D56;
border: none;
}

::placeholder{
  color: hsla(210, 36%, 38%, 1);
  opacity: 1;
}

.profiles {
  display: flex;
  color: white;
  gap: 20px;
  padding-top: 5px;
  align-items: center;
}

.companies {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 110px;
padding-bottom: 120px;
}

.companies img {
  min-width: 110px;
}

.information {
  background-color: #052c55;
  margin: 0 130px;
}

.header{
display: flex;
align-items: center;
justify-content: center;
justify-content: space-between;
}

.line {
  width: 38px;
height: 3px;
background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
}

.header{
  padding-right: 70px;
}

.miniheader{
  padding-left: 60px;
  padding-top: 60px;
}

.miniheader h2 , .linebros {
  color: white;
  font-size: 24px;
  font-weight: 800;
  padding-top: 20px;
}


.header p {
  padding-top: 70px;
  color: #81AFDD;
  line-height: 30px;
  font-weight: 500;
}

.informationmiddle {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-right: 70px;
  padding-left: 60px;
}

.informationmiddle h3 {
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
font-weight: 800;
line-height: 45px;
}

.informationmiddle h6{
  color: #FF8A71;
  font-weight: 500;
  font-size: 16px;

}


.informationbottom{
padding-top: 90px;
display: flex;
justify-content: space-between;
padding-right: 70px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.blocks p {
  color:#81AFDD ;
  padding-top: 40px;
  line-height: 25px;
}

.middlepart {
  padding-top:200px ;
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  justify-content: space-between;
}

.middlepart h5 {
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  padding-bottom: 34px;
}

.middlepart span {
  color: #FF8A71;
  font-weight: 500;
}

.middleblock {
  display: flex;
}

.middleblock .header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h4 {
  font-size: 18px !important;
  font-weight: 800;
  color: #FFF;
  padding-top: 12px;
  line-height: 24px;
}

.middleright {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.middleblock p {
  color: #81AFDD;
  line-height: 24px;
}

.simplemiddle {
  display: flex;justify-content: space-between;
  align-items: center;
  padding: 0 350px;
  padding-top: 50px;
}

.simplemiddleright{
  padding-top: 170px;
}

.simplemiddleright h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #71E5FF;
  padding-bottom: 20px;
}

.simplemiddleright h2 {
  font-size: 34px;
  font-weight: 800;
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 45px;
  padding-bottom: 25px;
}

.simplemiddleright p {
color: #81AFDD;
font-size: 16px;
font-weight: 400;
line-height: 30px;
padding-bottom: 30px;
}

.simplemiddleright h5 {
color: #FF8A71;
font-size: 16px;
font-weight: 500;
line-height: 30px;
}

.ads {
  width: 1300px;
  height: 170px;
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
margin-left: auto;
margin-right: auto;
margin-top: 150px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.adsbox {
  padding-left: 50px;
  display: flex;
justify-content: center;
flex-direction: column;
}

.ads h5 {
color: #0E0E0E;
font-size: 12px;
font-weight: 500;
line-height: 30px;
}

.ads h2 {
color: #0E0E0E;
font-size: 25px;
font-weight: 500;
line-height: 30px;
font-weight: 800;
}

.ads button {
  padding: 12px 41px 16px 45px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  margin-right: 100px;
  font-size: 18px;
  font-weight: 700;
}

.blogs {
  padding-top: 180px;
  padding-bottom: 150px;
}

.blogcards {
  display: flex;
  gap: 100px;
  padding-top: 100px;
  justify-content: center;
}

.line2 , .line3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blogs h1 {
font-size: 62px;
font-weight: 800;
line-height: 75px;
letter-spacing: -2.48px;
background: linear-gradient(90deg, #AE67FA 0%, #F49867 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 330px;
}

.line1 {
  height: 700px;
  width: 400px;
  background-color: #042C54;
  border-top-left-radius: 50px;
}

.linetexts {
  padding-left: 10px;
}

.line1 h4 {
  padding-bottom: 250px;
}

.cardimg {
  width: 100%;
}

.line1 span {
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 34.947px;
}

.link {
  margin-top: 300px !important;
}

.blogcardmini {
  width: 330px;
  height: 330px;
  background-color:#042C54;
  border-top-left-radius: 50px;
}

.linetexts span {
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 34.947px;
}

.footer {
  background-color:#042C54;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h1 {
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
font-size: 62px;
font-weight: 800;
line-height: 75px;
letter-spacing: -2.48px;
padding-top: 175px;
}

.endlinks {
  display: flex;
  gap: 200px;
}

.lastbutton button {
  margin-top: 80px;
  border: 1px solid #FFF;
  background-color: transparent;
  color: white;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 100px;
  transition: all .2s ease;
}

.lastbutton button:hover {
  background-color: #FFF;
  color: #042C54;
}


.logoandaddress h2 {
  font-size: 30px;
  font-weight: 800;
  color: white;
  padding-bottom: 20px;
}

.logoandaddress span {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.linkblocks {
  display: flex;
  gap: 200px;
}

.endlinkblock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.endlinkblock h4 {
color: #FFF;
font-size: 14px;
font-weight: 400;
}

.endlinkblock a, span {
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
}

.endtitle {
color: #FFF;
font-size: 12px;
font-weight: 400;
padding-top: 50px;
padding-bottom: 50px;
}